.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: white;
  font-size: 20px;
  width: 50%;
  text-align: center;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.cardsContainer {
  margin-top: 80px;
  display: grid;
  /* grid-template-columns: minmax(200, 1fr) minmax(200, 1fr) minmax(200, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media(max-width: 800px) {
  .title {
    text-align: center;
  }

  .cardsContainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
