.container {
  background: #F8B908;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.infoSpanContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0px 30px 100px;
}

@media(max-width: 800px) {
  .container {
    padding: 15px 15px 15px 15px;
  }
}
